@font-face {
    font-family: Athena;
    src: url('../fonts/Athena.ttf');
}

/* Topbar */
.top-bar {
  font-size: 14px;
  line-height: 40px!important;
  color: #818181;
}
.top-bar a {
  color: black!important;
}

/* Navigation */

.main-navigation {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 30px;
  background-color: white!important;
}
.nav-link:hover{
	background-color: #DBA901;
	width: 150px;
}
.nav-text-2:hover{
	color: white!important;
	font-size: 13px;
	font-weight: bold;
}
.link-title{
	font-family: "Athena"!important;
	font-size: 100px;
	text-decoration: none; 
	color: white;
}
.color{
	background-color: #B40404;
}

.icon{
	width: 100px;
	height: 100px;
	transition: 0.8s;
}
.icon:hover {
	transform: scale(1.5,1.5);
}
.list{
	list-style-type: none!important;
}
.social-list{
  float: left;
  margin-right: 10px;
  box-shadow: 8px 4px 4px rgba(0,0,0,0.2);
}
.menu{
	display: inline-block;
}