@font-face {
    font-family: Athena;
    src: url('../fonts/Athena.ttf');
}

/* Navigation */
.nav-link:hover{
	background-color: #DBA901;
	width: 150px;
}
.nav-text-1:hover{
	font-size: 14px;
	font-weight: bold;
}
.nav-text-2:hover{
	color: white!important;
	font-size: 13px;
	font-weight: bold;
}
.link-title{
	font-family: "Athena"!important;
	font-size: 100px;
	text-decoration: none; 
	color: white;
}
.color{
	background-color: #B40404;
}

/* Transicion icono portada */
.icon-container{
	display: flex;
	width: 100%;
	height: 300px;
	justify-content: center;
	align-items: center;

 	position: relative;
 	left: 0;
 	right: 0;
 	margin: 0 auto;
}
.div-img{
 	display: block;
}
.icon{
	width: 300px;
	height: 300px;
	transition: 0.8s;
}
.text{
	text-transform: uppercase;
	font-family: "sans-serif";
    position: relative;
    z-index: -1;
    display:block;
    bottom:100px;
    width:100%;
    text-align: center;
    letter-spacing: 2px;
    transition: 0.5s;
}
.div-img:hover .text {
	transform: translate3d(0px, 35px, 35px);
	font-size: 20px;
}

.icon:hover {
	transform: scale(0.7,0.7);
}
.list{
	list-style-type: none!important;
}
.social-list{
  float: left;
  margin-right: 10px;
  box-shadow: 8px 4px 4px rgba(0,0,0,0.2);
}