@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@font-face {
    font-family: Athena;
    src: url('../fonts/Athena.ttf');
}
@font-face {
    font-family: George;
    src: url('../fonts/George.ttf');
}
#main{
  display: flex;
  flex-flow: column;
}
#page {
  position: relative;
  top:0;
  left:0;
  right:0;
}
.main-section{
  height:84vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F4FA58;
}
.main-section h1{
  font-family: "George";
  font-weight: bold;
  font-size: 8vw;
  color: #FFF;
  margin: 0px 20px 0px 20px;
  letter-spacing: 1px;
}
.main-section h3{
  font-family: "George";
  font-weight: bold;
  color: #FA5858;
  padding-bottom: 50px;
  letter-spacing: 1px;
}
.div-btns{
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
}
.div-btns button{
  background-color: transparent;
  border: solid 3px #fff;
  width: 15vw;
  height: 7.5vh;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-family: "George";
  letter-spacing: 2px;
}
section {
  height:100vh;
  position:relative;
  display:flex;
  flex-flow: column;
  align-items:center;
  justify-content:center;
}

.next {
  cursor:pointer;
  position: relative;
 
}
.next:after {
  content: url("../imagenes/Down.png");
  height: 15px;
  width: 15px;
  top: 5px;
  left: 50%;
  position: absolute;
  transform: scale(0.2);
}

.one {
  background-color: #F5D0A9;
  /*background-image: url("../imagenes/sabores1.jpg");
  background-repeat: no-repeat;
  background-position: center;*/
}
.two {
  background-color: #E87B31;
}
.three {
  background-color: #EDDE05;
}
.four {
  background-color: #E84B30;
}
.five {
  background-color: #ED820E;
}